# Ignore PostgreSQL and Redis related files and directories

# Ignore PostgreSQL data directory
/app/postgresql/data/
/app/postgresql/base/4/ 
/app/postgresql/base/5/ 
/app/postgresql/global/ 
app/postgresql/base/1/112/
# Ignore specific files
app/postgresql/base/1/113
app/postgresql/base/1/1247
app/postgresql/base/1/1247_fsm
app/postgresql/base/1/1247_vm

app/postgresql/PG_VERSION
app/postgresql/base/1/112
app/postgresql/base/1/113
app/postgresql/base/1/1247
app/postgresql/base/1/1247_fsm
app/postgresql/base/1/1247_vm
app/postgresql/base/1/1249
app/postgresql/base/1/1249_fsm
app/postgresql/base/1/1249_vm
app/postgresql/base/1/1255
app/postgresql/base/1/1255_fsm
app/postgresql/base/1/1255_vm
app/postgresql/base/1/1259
app/postgresql/base/1/1259_fsm
app/postgresql/base/1/1259_vm
app/postgresql/base/1/13393
app/postgresql/base/1/13393_fsm
app/postgresql/base/1/13393_vm
app/postgresql/base/1/13396
app/postgresql/base/1/13397
app/postgresql/base/1/13398
app/postgresql/base/1/13398_fsm
app/postgresql/base/1/13398_vm
app/postgresql/base/1/13401
app/postgresql/base/1/13402
# Ignore PostgreSQL and Redis related files and directories

# Ignore PostgreSQL data directory
/app/postgresql/data/
/app/postgresql/base/4/ 
/app/postgresql/base/5/ 
/app/postgresql/global/ 
/app/postgresql/base/1/112/

# Ignore specific files
/app/postgresql/base/1/113
/app/postgresql/base/1/1247
/app/postgresql/base/1/1247_fsm
/app/postgresql/base/1/1247_vm
/app/postgresql/PG_VERSION
/app/postgresql/base/1/112
/app/postgresql/base/1/113
/app/postgresql/base/1/1247
/app/postgresql/base/1/1247_fsm
/app/postgresql/base/1/1247_vm
/app/postgresql/base/1/1249
/app/postgresql/base/1/1249_fsm
/app/postgresql/base/1/1249_vm
/app/postgresql/base/1/1255
/app/postgresql/base/1/1255_fsm
/app/postgresql/base/1/1255_vm
/app/postgresql/base/1/1259
/app/postgresql/base/1/1259_fsm
/app/postgresql/base/1/1259_vm
/app/postgresql/base/1/13393
/app/postgresql/base/1/13393_fsm
/app/postgresql/base/1/13393_vm
/app/postgresql/base/1/13396
/app/postgresql/base/1/13397
/app/postgresql/base/1/13398
/app/postgresql/base/1/13398_fsm
/app/postgresql/base/1/13398_vm
/app/postgresql/base/1/13401
/app/postgresql/base/1/13402
app/postgresql/base/1/13403
app/postgresql/base/1/13403_fsm
app/postgresql/base/1/13403_vm
app/postgresql/base/1/13406
app/postgresql/base/1/13407
app/postgresql/base/1/13408
app/postgresql/base/1/13408_fsm
app/postgresql/base/1/13408_vm
app/postgresql/base/1/13411
app/postgresql/base/1/13412
app/postgresql/base/1/1417
app/postgresql/base/1/1418
app/postgresql/base/1/174
app/postgresql/base/1/175
app/postgresql/base/1/2187
app/postgresql/base/1/2224
app/postgresql/base/1/2228
app/postgresql/base/1/2328
app/postgresql/base/1/2336
app/postgresql/base/1/2337
app/postgresql/base/1/2579
app/postgresql/base/1/2600
app/postgresql/base/1/2600_fsm
app/postgresql/base/1/2600_vm
app/postgresql/base/1/2601
app/postgresql/base/1/2601_fsm
app/postgresql/base/1/2601_vm
app/postgresql/base/1/2602
app/postgresql/base/1/2602_fsm
app/postgresql/base/1/2602_vm
app/postgresql/base/1/2603
app/postgresql/base/1/2603_fsm
app/postgresql/base/1/2603_vm
app/postgresql/base/1/2604
app/postgresql/base/1/2605
app/postgresql/base/1/2605_fsm
app/postgresql/base/1/2605_vm
app/postgresql/base/1/2606
app/postgresql/base/1/2606_fsm
app/postgresql/base/1/2606_vm
app/postgresql/base/1/2607
app/postgresql/base/1/2607_fsm
app/postgresql/base/1/2607_vm
app/postgresql/base/1/2608
app/postgresql/base/1/2608_fsm
app/postgresql/base/1/2608_vm
app/postgresql/base/1/2609
app/postgresql/base/1/2609_fsm
app/postgresql/base/1/2609_vm
app/postgresql/base/1/2610
app/postgresql/base/1/2610_fsm
app/postgresql/base/1/2610_vm
app/postgresql/base/1/2611
app/postgresql/base/1/2612
app/postgresql/base/1/2612_fsm
app/postgresql/base/1/2612_vm
app/postgresql/base/1/2613
app/postgresql/base/1/2615
app/postgresql/base/1/2615_fsm
app/postgresql/base/1/2615_vm
app/postgresql/base/1/2616
app/postgresql/base/1/2616_fsm
app/postgresql/base/1/2616_vm
app/postgresql/base/1/2617
app/postgresql/base/1/2617_fsm
app/postgresql/base/1/2617_vm
app/postgresql/base/1/2618
app/postgresql/base/1/2618_fsm
app/postgresql/base/1/2618_vm
app/postgresql/base/1/2619
app/postgresql/base/1/2619_fsm
app/postgresql/base/1/2619_vm
app/postgresql/base/1/2620
app/postgresql/base/1/2650
app/postgresql/base/1/2651
app/postgresql/base/1/2652
app/postgresql/base/1/2653
app/postgresql/base/1/2654
app/postgresql/base/1/2655
app/postgresql/base/1/2656
app/postgresql/base/1/2657
app/postgresql/base/1/2658
app/postgresql/base/1/2659
app/postgresql/base/1/2660
app/postgresql/base/1/2661
app/postgresql/base/1/2662
app/postgresql/base/1/2663
app/postgresql/base/1/2664
app/postgresql/base/1/2665
app/postgresql/base/1/2666
app/postgresql/base/1/2667
app/postgresql/base/1/2668
app/postgresql/base/1/2669
app/postgresql/base/1/2670
app/postgresql/base/1/2673
app/postgresql/base/1/2674
app/postgresql/base/1/2675
app/postgresql/base/1/2678
app/postgresql/base/1/2679
app/postgresql/base/1/2680
app/postgresql/base/1/2681
app/postgresql/base/1/2682
app/postgresql/base/1/2683
app/postgresql/base/1/2684
app/postgresql/base/1/2685
app/postgresql/base/1/2686
app/postgresql/base/1/2687
app/postgresql/base/1/2688
app/postgresql/base/1/2689
app/postgresql/base/1/2690
app/postgresql/base/1/2691
app/postgresql/base/1/2692
app/postgresql/base/1/2693
app/postgresql/base/1/2696

        
        


# Ignore Redis data directory
/app/redis/data/

# Ignore PostgreSQL and Redis log files
/app/postgresql/log/
/app/redis/log/

# Ignore specific files or directories related to your web project, such as the venv and .env files
/app/web/projects/mlb-lab/venv
/app/web/projects/mlb-lab/.env
